header{
    background-color: #FB923C;
    color: #FFFFFF;
    
}

header .top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

li, a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    padding-left: 190px;
    padding-right: 190px;
}

.cards{
    display: flex;
}

.card-highlight{

}

.card{

}

nav {
    background-color: #FFFFFF;
    padding: 15px;
}

nav .items {

}

nav .item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    text-transform: uppercase;

}
nav .item a {
    color: #6B7280;
}

.main {
    background-color: #FFFFFF;
}

.main .divider {
    background-color: #939597;
    height: 56px;
    color: #FB923C;
    text-transform: uppercase;
}

.main .divider .title{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.categories {
    display: flex;
}

.categorie {
    margin-right: 50px;
}

.categorie .title {
    text-transform: uppercase;
    margin-bottom: 23px;
}

.categorie li {
    margin-bottom: 23px;
}

.categorie li a {
    color: #FFFFFF;
}

footer{
    background-color: #FB923C;
    color:#FFFFFF;
}

footer .container{
    padding-top: 40px;
}

.credits {
    border-top: solid 1px #FFFFFF;
    padding-top: 20px;
    padding-bottom: 100px;
}
