@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;1,300&family=Inter:wght@400;500;600;800&display=swap');

header{
    background-color: #FB923C;
    color: #FFFFFF;
    
}

header .top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

input {
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    width: 280px;
    height: 28px;
}

li, a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    padding-left: 190px;
    padding-right: 190px;
}

.cards{
    display: flex;
}

.card-highlight{

}

.card{
    width: 347px;
    height: 265px;
    background-color: #F9FAFB;
    border-radius: 8px ;
}

.image{
    height: 185px;
    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

nav {
    background-color: #FFFFFF;
    padding: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav .items {

}

nav .item{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    text-transform: uppercase;
}

nav .item :hover{
    background-color: #FB923C;
    border-radius: 3px;
    color: #FFFFFF;
}

nav .item a {
    color: #6B7280;
    width: 100%;
    height: 100%;
}

.main {
    background-color: #FFFFFF;
}

.main .divider {
    background-color: #F9FAFB;
    height: 56px;
    color: #FB923C;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.main .divider .title{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.categories {
    display: flex;
}

.categorie {
    margin-right: 50px;
}

.categorie .title {
    text-transform: uppercase;
    margin-bottom: 23px;
}

.categorie li {
    margin-bottom: 23px;
}

.categorie li a {
    color: #FFFFFF;
}

footer{
    background-color: #FB923C;
    color:#FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

footer .container{
    padding-top: 40px;
}

.credits {
    border-top: solid 1px #FFFFFF;
    padding-top: 20px;
    padding-bottom: 100px;
}
